@font-face {
  font-family: "freescpt";
  src: url("@/assets/FREESCPT.TTF");
}

body {
  margin: 0;
}

h1 {
  font-size: var(--el-font-size-extra-large);
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

:root {
  /// The colors corresponding to all tag type.
  --tag-general: burlyWood;
  --tag-artist: coral;
  --tag-copyright: purple;
  --tag-character: green;
  --tag-circle: teal;
  --tag-style: orange;
  --tag-faults: red;

  .--tag {
    transition: opacity 200ms;

    &.select {
      cursor: pointer;

      &:hover {
        opacity: 0.54;
      }
    }

    &,
    &>.el-tag__close,
    .--tag-mode {
      color: white;
      vertical-align: baseline;
    }

    &>.el-tag__close:hover {
      background-color: white;
    }


    &.--tag-general {
      background-color: var(--tag-general);

      &>.el-tag__close:hover {
        color: var(--tag-general);
      }
    }

    &.--tag-artist {
      background-color: var(--tag-artist);

      &>.el-tag__close:hover {
        color: var(--tag-artist);
      }
    }

    &.--tag-copyright {
      background-color: var(--tag-copyright);

      &>.el-tag__close:hover {
        color: var(--tag-copyright);
      }
    }

    &.--tag-character {
      background-color: var(--tag-character);

      &>.el-tag__close:hover {
        color: var(--tag-character);
      }
    }

    &.--tag-circle {
      background-color: var(--tag-circle);

      &>.el-tag__close:hover {
        color: var(--tag-circle);
      }
    }

    &.--tag-style {
      background-color: var(--tag-style);

      &>.el-tag__close:hover {
        color: var(--tag-style);
      }
    }

    &.--tag-faults {
      background-color: var(--tag-faults);

      &>.el-tag__close:hover {
        color: var(--tag-faults);
      }
    }
  }
}