@font-face {
  font-family: "freescpt";
  src: url("@/assets/FREESCPT.TTF");
}

body {
  margin: 0;
}

h1 {
  font-size: var(--el-font-size-extra-large);
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

:root {
  /** The colors corresponding to all tag type. */
  --tag-general: burlyWood;
  --tag-artist: coral;
  --tag-copyright: purple;
  --tag-character: green;
  --tag-circle: teal;
  --tag-style: orange;
  --tag-faults: red;
  --tag-meta: #000;
  --tag-text-color: #fff;

  .--tag {
    background-color:var(--tag-color);
    &,
    &>.el-tag__close,
    .--tag-mode {
      color: var(--tag-text-color);
    }
    &>.el-tag__close:hover {
      color:var(--tag-color);
      background-color: var(--tag-text-color);
    }


    &.--tag-general {
      --tag-color: var(--tag-general);
    }

    &.--tag-artist {
      --tag-color: var(--tag-artist);
    }

    &.--tag-copyright {
      --tag-color: var(--tag-copyright);
    }

    &.--tag-character {
      --tag-color: var(--tag-character);
    }

    &.--tag-circle {
      --tag-color: var(--tag-circle);
    }

    &.--tag-style {
      --tag-color: var(--tag-style);
    }

    &.--tag-faults {
      --tag-color: var(--tag-faults);
    }

    &.--tag-meta {
      --tag-color:var(--tag-meta);
    }
  }
}

.scrollbar {
  overflow: overlay;

  &::-webkit-scrollbar {
    max-width: 6px;
    max-height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    height: 120px;
    width: 120px;
    border-radius: 3px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

.el-date-editor{
  /** If mouse not hover in date editor picker, clear icon no show,  lack clear icon width.
  * Else set date editor picker to flex make that fill that.
  */
  display: inline-flex !important;
}